# Node modules
node_modules/

# Logs
logs
*.log
logs/
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Firebase credentials (if applicable)
firebase-admin-sdk.json

# Build and distribution folders
dist/
build/

# Dependency directories
node_modules/
jspm_packages/

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook (if using .notebook directory)
.notebook/
.ipynb_checkpoints/
